@import '../scss/lib/theme/theme';

.create-gallery {

  .btn-std {
    margin-left: 70%;
  }

  label {
    margin-left: 5%;
  }

  h2 {
    padding-bottom: $gutter-sm;
    text-align: center;
  }

}
