@import '../../scss/lib/theme/theme';

.home {

  .gallery-list {

    .gallery-item {
      display: inline-block;
      width: 80%;
      margin-left: 10%;
      margin-top: $gutter-std;

      span {
        display: block;
        line-height: 1.2em;
      }
    }
  }

}
