<section class="home">
  <create-gallery></create-gallery>
  <ul class="gallery-list">
    <gallery-item
    ng-repeat="item in homeCtrl.galleries | orderBy:'name'"
    gallery="item"
    currentGallery="homeCtrl.currentGallery"
    galleries="homeCtrl.galleries">
    </gallery-item>
  </ul>

  <select
      ng-if="homeCtrl.currentGallery"
      name="gallery selection"
      ng-options="item as item.name for item in homeCtrl.galleries track by item._id"
      ng-model="homeCtrl.currentGallery"></select>

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>

</section>
