<section class="home">
  <create-gallery></create-gallery>

  <label>search gallery:</label>
  <input ng-model="homeCtrl.searchFor" type="text" placeholder="text" class="search">

  <ul class="gallery-list">
    <gallery-item
    ng-repeat="item in homeCtrl.galleries | fuzzySearch: homeCtrl.searchFor"
    gallery="item"
    currentGallery="homeCtrl.currentGallery"
    galleries="homeCtrl.galleries">
    </gallery-item>
  </ul>
  <select
      ng-if="homeCtrl.currentGallery"
      name="gallery selection"
      ng-options="item as item.name for item in homeCtrl.galleries track by item._id"
      ng-model="homeCtrl.currentGallery"></select>

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>

</section>
