<section class="upload-pic">
  <form
    ng-submit="uploadPicCtrl.uploadPic()"
    class="upload-form"
    novalidate>

    <fieldset>
      <label for="name">name:</label>
      <input type="text" name="name" placeholder="name" ng-model="uploadPicCtrl.pic.name">

      <label for="desc">description:</label>
      <input type="text" name="description" placeholder="description" ng-model="uploadPicCtrl.pic.desc">
    </fieldset>

    <div>
      <p ngf-select ng-model="uploadPicCtrl.pic.file">
        choose file
      </p>
      <button type="submit" name="upload picture">upload file</button>
    </div>
  </form>
</section>
