<section class="landing">

  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <div class="form-msg">
        <p>already a member?</p>
        <a href="/#!/login"
          ng-click="landingCtrl.showSignup=false">
          sign in here.
        </a>
      </div>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <div class="form-msg">
        <p>want to signup?</p>
        <a href="/#!/signup"
          ng-click="landingCtrl.showSignup=true">
          sign up here.
        </a>
      </div>
    </div>
  </div>
</section>
