@import '../scss/lib/theme/theme';

.gallery-item {

  display: inline-block;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;

  span {
    display: block;
    line-height: 1.5em;
  }

  .btn-sm {
    margin-bottom: 20px;
  }

}
