<li class="gallery-item">
  <div ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span>{{ galleryItemCtrl.gallery.name | uppercase }}</span>
      <span>{{ galleryItemCtrl.gallery.desc | lowercase | limitTo: 30 }}</span>
      <!-- <span>id: {{ galleryItemCtrl.gallery._id }}</span> -->
      <span>created: {{ galleryItemCtrl.gallery.created | date }}</span>
      <span>Total pics: {{ galleryItemCtrl.gallery.pics.length | number }}</span>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

  <button ng-click="galleryItemCtrl.deleteGallery()" class="btn-sm">delete</button>
    <button
    ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery" class="btn-sm">edit</button>
</li>
